html {
    scroll-behavior: smooth;
    background-image: url('../img/pastelsky.jpg');
    background-size: cover;
}

body {
    font-family: 'comic sans ms', cursive, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav {
    text-align: center;
    padding: 10px 0;
    border: dashed lightpink;
    border-radius: 20px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin: 15px;
}

nav a { 
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
}
nav a:hover {
    color: #ff69b4;
}

.profile-pic{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: dashed #efc1f7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: block;
    margin: 0 auto 20px auto;
}

.profile {
    background-color: rgb(248, 208, 241);
    border: dashed #f7058e;
    border-radius: 20px;
    padding: 20px;
    margin: 40px auto;
    width: 750px;
}

h1, h2, h3 {
    color: #f954a6;
    margin-bottom: 10px;    
}

.favorites ul {
    list-style: none;
    padding-left: 0px;
    margin: 0 auto;
    text-align: center;
}

.skills-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    margin: 20px;
    gap: 30px;
}

.skills ul {
    list-style-type: circle;
    padding-left: 20px;
    margin: 0 auto;
    display: block;
    text-align: left;
}   

.favorites {
    background-color: rgb(248, 208, 241);
    border: dashed #f7058e;
    border-radius: 20px;
    padding: 20px;
    margin: 40px auto;
    width: 750px;
}

.skills {
    background-color: rgb(248, 208, 241);
    border: dashed #f7058e;
    border-radius: 20px;
    padding: 20px;
    margin: 40px auto;
    width: 750px;
}